In [1]:
import pandas as pd

In [69]:
tumbon = pd.read_excel('data/TAMBON.xlsx')

In [70]:
tumbon.sample()

,AD_LEVEL,TA_ID,TAMBON_T,AM_ID,AMPHOE_T,AMPHOE_E,CH_ID,CHANGWAT_T,CHANGWAT_E,LAT,LONG
6026,4,342005,ต. นาคาย,3420,ตาลสุม,Tan Sum,34,อุบลราชธานี,Ubon Ratchathani,15.417,105.108

In [71]:
tumbon.AMPHOE_T = tumbon.AMPHOE_T.str.replace('เขต ','')

In [87]:
tumbon.AMPHOE_T = tumbon.AMPHOE_T.str.strip()
tumbon.CHANGWAT_T = tumbon.CHANGWAT_T.str.strip()

In [73]:
tumbon.sample(5)

,AD_LEVEL,TA_ID,TAMBON_T,AM_ID,AMPHOE_T,AMPHOE_E,CH_ID,CHANGWAT_T,CHANGWAT_E,LAT,LONG
7042,4,461501,ต. สำราญ,4615,สามชัย,Sam Chai,46,กาฬสินธุ์,Kalasin,16.954,103.522
5006,4,180608,ต. วังไก่เถื่อน,1806,หันคา,Hankha,18,ชัยนาท,Chai Nat,15.004,100.056
1316,4,200602,ต. หน้าพระธาตุ,2006,พนัสนิคม,Phanat Nikhom,20,ชลบุรี,Chon Buri,13.468,101.147
6419,4,950306,ต. เขื่อนบางลาง,9503,บันนังสตา,Bannang Sata,95,ยะลา,Yala,6.142,101.309
6349,4,481003,ต. นาขมิ้น,4810,โพนสวรรค์,Phon Sawan,48,นครพนม,Nakhon Phanom,17.523,104.513

In [81]:
tumbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7768 entries, 0 to 7767
Data columns (total 4 columns):
AMPHOE_T      7768 non-null object
AMPHOE_E      7768 non-null object
CHANGWAT_T    7768 non-null object
CHANGWAT_E    7768 non-null object
dtypes: object(4)
memory usage: 242.8+ KB

In [88]:
tumbon[tumbon.AMPHOE_T=='ละอุ่น']

     AMPHOE_T AMPHOE_E CHANGWAT_T CHANGWAT_E
1737   ละอุ่น    La-un      ระนอง     Ranong
2081   ละอุ่น    La-un      ระนอง     Ranong
2844   ละอุ่น    La-un      ระนอง     Ranong
3065   ละอุ่น    La-un      ระนอง     Ranong
6996   ละอุ่น    La-un      ระนอง     Ranong
6998   ละอุ่น    La-un      ระนอง     Ranong
7237   ละอุ่น    La-un      ระนอง     Ranong

In [89]:
tumbon[tumbon.CHANGWAT_T=='สตูล']

       AMPHOE_T      AMPHOE_E CHANGWAT_T CHANGWAT_E
0     เมืองสตูล  Mueang Satun       สตูล      Satun
17    เมืองสตูล  Mueang Satun       สตูล      Satun
21    เมืองสตูล  Mueang Satun       สตูล      Satun
30    เมืองสตูล  Mueang Satun       สตูล      Satun
37    เมืองสตูล  Mueang Satun       สตูล      Satun
39    เมืองสตูล  Mueang Satun       สตูล      Satun
48    เมืองสตูล  Mueang Satun       สตูล      Satun
53    เมืองสตูล  Mueang Satun       สตูล      Satun
58    เมืองสตูล  Mueang Satun       สตูล      Satun
65    เมืองสตูล  Mueang Satun       สตูล      Satun
72    เมืองสตูล  Mueang Satun       สตูล      Satun
73    เมืองสตูล  Mueang Satun       สตูล      Satun
77    เมืองสตูล  Mueang Satun       สตูล      Satun
84    เมืองสตูล  Mueang Satun       สตูล      Satun
85    เมืองสตูล  Mueang Satun       สตูล      Satun
92    เมืองสตูล  Mueang Satun       สตูล      Satun
100   เมืองสตูล  Mueang Satun       สตูล      Satun
101   เมืองสตูล  Mueang Satun       สตูล      Satun
108   เมืองสตูล  Mueang Satun       สตูล      Satun
129   เมืองสตูล  Mueang Satun       สตูล      Satun
132   เมืองสตูล  Mueang Satun       สตูล      Satun
144   เมืองสตูล  Mueang Satun       สตูล      Satun
148   เมืองสตูล  Mueang Satun       สตูล      Satun
153   เมืองสตูล  Mueang Satun       สตูล      Satun
156   เมืองสตูล  Mueang Satun       สตูล      Satun
157   เมืองสตูล  Mueang Satun       สตูล      Satun
182   เมืองสตูล  Mueang Satun       สตูล      Satun
183   เมืองสตูล  Mueang Satun       สตูล      Satun
187   เมืองสตูล  Mueang Satun       สตูล      Satun
191   เมืองสตูล  Mueang Satun       สตูล      Satun
...         ...           ...        ...        ...
3115  เมืองสตูล  Mueang Satun       สตูล      Satun
3218  เมืองสตูล  Mueang Satun       สตูล      Satun
3227      ท่าแพ      Tha Phae       สตูล      Satun
3228  เมืองสตูล  Mueang Satun       สตูล      Satun
3376      ท่าแพ      Tha Phae       สตูล      Satun
3461     ควนโดน     Khuan Don       สตูล      Satun
3654       ละงู        La-ngu       สตูล      Satun
3813  เมืองสตูล  Mueang Satun       สตูล      Satun
3860  เมืองสตูล  Mueang Satun       สตูล      Satun
4508       ละงู        La-ngu       สตูล      Satun
4747     ควนโดน     Khuan Don       สตูล      Satun
5168      ท่าแพ      Tha Phae       สตูล      Satun
5623       ละงู        La-ngu       สตูล      Satun
5874   ทุ่งหว้า     Thung  Wa       สตูล      Satun
5936      มะนัง        Manang       สตูล      Satun
5986   ควนกาหลง  Khuan Kalong       สตูล      Satun
6214       ละงู        La-ngu       สตูล      Satun
6237      ท่าแพ      Tha Phae       สตูล      Satun
6348  เมืองสตูล  Mueang Satun       สตูล      Satun
6473   ทุ่งหว้า     Thung  Wa       สตูล      Satun
6672       ละงู        La-ngu       สตูล      Satun
6752     ควนโดน     Khuan Don       สตูล      Satun
6919      มะนัง        Manang       สตูล      Satun
6943  เมืองสตูล  Mueang Satun       สตูล      Satun
6978  เมืองสตูล  Mueang Satun       สตูล      Satun
7112  เมืองสตูล  Mueang Satun       สตูล      Satun
7151  เมืองสตูล  Mueang Satun       สตูล      Satun
7239   ควนกาหลง  Khuan Kalong       สตูล      Satun
7476   ทุ่งหว้า     Thung  Wa       สตูล      Satun
7533   ควนกาหลง  Khuan Kalong       สตูล      Satun

[89 rows x 4 columns]

In [78]:
# tumbon = tumbon.drop('AD_LEVEL', 1)
# tumbon = tumbon.drop('TA_ID', 1)
# tumbon = tumbon.drop('AD_LEVEL', 1)
tumbon = tumbon.drop('TAMBON_T', 1)
tumbon = tumbon.drop('AM_ID', 1)
tumbon = tumbon.drop('CH_ID', 1)
tumbon = tumbon.drop('LAT', 1)
tumbon = tumbon.drop('LONG', 1)

In [90]:
aa = tumbon.drop_duplicates(subset=['AMPHOE_T', 'AMPHOE_E','CHANGWAT_T','CHANGWAT_E'], keep='first')

In [91]:
aa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 928 entries, 0 to 7724
Data columns (total 4 columns):
AMPHOE_T      928 non-null object
AMPHOE_E      928 non-null object
CHANGWAT_T    928 non-null object
CHANGWAT_E    928 non-null object
dtypes: object(4)
memory usage: 36.2+ KB

In [92]:
writer = pd.ExcelWriter('data/TAMBON_clean.xlsx')

In [93]:
aa.to_excel(writer,'TAMBON')

In [94]:
writer.save()